<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Index CSS -->

      <link rel="stylesheet" type="text/css" href="../static/index.css">







    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>ABC Relations Inc.</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light back">
      <a class="brand" href="#">ABC Relations Inc.</a>
  </nav>
  <form class="file_Upload" method = "POST" action="{{ url_for('index') }}">
    <div class="container" id="middle">
        <div class="row">
            <div class="col">
                <h4 class="label">
                    Company Name:
                </h4>
            </div>
            <div class="col">




                    <input type="text"  name="name" placeholder="Canada">


            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="label">
                    Date:
                </h4>
            </div>
            <div class="col">


                    <input type="text" name="date" placeholder="2019-01-12">



            </div>
        </div>

        <div class="row b">
            <input class="abtn btn-outline btn-xl" type="submit" id="searchButton" value="SUBMIT">
        </div>


    </div>
  </form>
    <div class="container" id="hidden">
        <div class="row" id="popUp">
            {% if result %}
                {% for r in result %}
                    <div class="col-sm">

                        <div class="card" style="width: 18rem;">
                            <img src="{{ r['urlToImage'] }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ r['title'] }}</h5>
                                     <p class="card-text">{{ r['description'] }}</p>
                                     <a href="{{ r['url'] }}" class="btn btn-outline-dark" >More Information</a>
                                </div>
                        </div>
                    </div>

                {% endfor %}


            {% endif %}


        </div>


    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script>
        $(function() {
            $('#searchButton').click(function() {

                    var input = '<div class = "col-sm">' +
                        '<div class="card" style="width: 18rem;">\n' +
                        '  <img src="..." class="card-img-top" alt="...">\n' +
                        '  <div class="card-body">\n' +
                        '    <h5 class="card-title">Card title</h5>\n' +
                        '    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card\'s content.</p>\n' +
                        '    <a href="#" class="btn btn-outline-dark">More Information</a>\n' +
                        '  </div>\n' +
                        '</div>' +
                        '</div>';
                    var newDiv = $(input);
                    // newDiv.style.background = "#000";
                    $('#popUp').append(newDiv);

            });
        });
    </script>

  </body>
</html>